.defaultImg {
  margin: auto;
  height: auto;
  max-height: 50px;
}

.header-button-container {
  max-width: 300px;
}

.navbar-toggler {
  padding: 4px;
}

@media (min-width: 975px) {
  .header-title {
    visibility: hidden;
  }
}
